<div data-w-id="9e4c4de9-2cf9-3c6c-500c-6e864db9b35c" class="padding-horizontal padding-medium"><div class="div-block-183"><div class="div-block-185"><h3 class="heading-style-h1">
{{ section.settings.text_line_one }}
</h3>
</div><div class="div-block-184"><div class="div-block-186"></div><p class="text-size-medium">
{{ section.settings.text_feature_info }}
</p>
</div></div><div class="div-block-183"><div class="div-block-185"><h3 class="heading-style-h1">
{{ section.settings.text_line_two }}
</h3>
</div><div class="div-block-184"><div class="div-block-186"></div><p class="text-size-medium">Lorem ipsum dolor sit amet consecetur adipiscing elit.</p></div></div><div class="div-block-183"><div class="div-block-185"><h3 class="heading-style-h1">
{{ section.settings.text_line_three }}
</h3>
</div><div class="div-block-184"><div class="div-block-186"></div><p class="text-size-medium">Lorem ipsum dolor sit amet consecetur adipiscing elit.</p></div></div></div> {% schema %} {"tag":"section","name":"home-features","settings":[{"id":"text_line_one","type":"text","label":"line-one","default":"Get 15% credit back "},{"id":"text_feature_info","type":"text","label":"feature-info","default":"Lorem ipsum dolor sit amet consecetur adipiscing elit."},{"id":"text_line_two","type":"text","label":"line-two","default":"Follow simple tutorials"},{"id":"text_line_three","type":"text","label":"line-three","default":"Use easy to edit files"}],"presets":[{"name":"home-features","category":"Liquify"}]} {% endschema %}