<div class="padding-horizontal padding-medium"><div class="div-block-183"><h3 class="heading-style-h1">
{{ section.settings.text_line_one }}
</h3>
</div><div class="div-block-183"><h3 class="heading-style-h1">
{{ section.settings.text_line_two }}
</h3>
</div><div class="div-block-183"><h3 class="heading-style-h1">
{{ section.settings.text_line_three }}
</h3>
</div></div> {% schema %} {"tag":"section","name":"home-features","settings":[{"id":"text_line_one","type":"text","label":"line-one","default":"Get 15% credit back "},{"id":"text_line_two","type":"text","label":"line-two","default":"Follow simple tutorials"},{"id":"text_line_three","type":"text","label":"line-three","default":"Use easy to edit files"}],"presets":[{"name":"home-features","category":"Liquify"}]} {% endschema %}