<div class="headline-wrapper"><h2 class="heading-style-h3">
{{ section.settings.text_headline }}
</h2>
</div><div class="product_list-wrapper"><ul role="list" class="list w-list-unstyled">{% for product in recommendations.products %}    <li li-for="product in recommendations.products" class="product_list-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </li>
{% endfor %}</ul></div> {% schema %} {"tag":"div","name":"Product-Recommended","class":"div-block-45","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Recommended"}],"presets":[{"name":"Product-Recommended","category":"Liquify"}]} {% endschema %}